

<header class="main-header" role="banner" >

   {{ page.header }}
  


  <div class="top-bar">
  	<div class="menu">

  		{{page.main_navigation}}

  	</div>
  
  </div>
</div>
</div>
   
</header>
