


<div class="row">
	<div class = "column">
		<ul class="tabs" data-tabs id="profile-tabs">
			 <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
	  <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
      <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
      <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
      <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
      <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
    	</ul>
    	<div class="tabs-content" data-tabs-content="profile-tabs">
    		<div class="tabs-panel is-active" id="panel1">
			<div class="row">
				<div class="column small-12 large-6">

					{{content.field_profilepic}}
					

				</div>

				<div class= "column small-12 large-6 text-align:left">
					
					
					 {{content.field_about}} 
					

				</div>

				
			</div>
			</div>
		
			<div class="tabs-panel" id="panel2">
				<div class="projects-link">

						{{content.field_projects}}

				</div>
			</div>

			<div class="tabs-panel" id="panel3">
				

					<p>	test </p>

				
			</div>
		</div>
</div>
</div>

