

.front-content{
	margin-top: 2em;
	margin-left: 10em;
	h3{
		a{
			color:#464646;
			text-decoration: none;
		}
	}

	p{
		line-height:1.5;
	}
	/*from the inspection of page elements (inspector)*/
	

	.views-field-view-node a{
		color: orange;
		text-decoration: none;
	}
	
}

.views-row{
	padding-bottom: 2em;
	
}
