
<div class="profile-pic">

	{{content.field_profilepic}}

</div>
<br>
<div class= "about">

	{{content.field_about}}

</div>
<br>
<br>
<div class="projects-link">

	{{content.field_projects}}

</div>