main{
    margin-top: 100px;
}

.layout-content{
    @include span(8);
}

.layout-sidebar-first{
    @include span(2);
}

.layout-sidebar-second{
    @include span(2 last);
}

.front-content{
	h3{
		a{
			color:#464646;
			text-decoration: none;
		}
	}

	p{
		line-height:1.5;
	}
	/*from the inspection of page elements (inspector)*/
	.views-row{
		margin: 45px 0;
	}

	.views-field-view-node a{
		color: orange;
		text-decoration: none;
	}
	
}