main{
    margin-top: 70px;
}

.layout-content{
    @include span(10);
}

.layout-sidebar-first{
    @include span(2);
}

.layout-sidebar-second{
    @include span(2 last);
}

.front-content{
	margin-top: 50px;
	h3{
		a{
			color:#464646;
			text-decoration: none;
		}
	}

	p{
		line-height:1.5;
	}
	/*from the inspection of page elements (inspector)*/
	

	.views-field-view-node a{
		color: orange;
		text-decoration: none;
	}
	
}